{% extends 'base.html' %}
{% block content %}
<div class="container mt-3 pt-5">
  <h2>Welcome, <strong>{{ user.get_username }}</strong></h2>
  <div class="row mt-5">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><h4>E-Mail</h4></th>
            <th scope="col"><h4>Tickets</h4></th>
            <th scope="col"><h4>Total</h4></th>
          </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
              <td>{{ user.email }}</td>
              <td>{{ user.tickets }}</td>
              <td></td>
              <td> 
                <a href="/tickets/{{user.id}}" class="btn btn-sm btn-success">Tickets</a>
                <a href="/accounts/edit/{{user.id}}" type="button" class="btn btn-sm btn-primary">Edit</a>
                <button type="button" class="btn btn-sm btn-danger ms-1">Delete</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>
{% endblock %}

<script>
</script>