{% extends 'base.html' %}
{% block content %}
    {% if showings %}
    <h2> Shows on: <strong>{{ selected_date }}</strong> </h2>
        {% for item in showings %}
        <div class="swiper-slide d-flex flex-column py-5">
            <h1>{{ item.movie }}</h1>
            <p>{{ item.screen }}</p>
            <p>{{ item.film_date }} m</p>
            <p>{{ item.ticket_quantity }}</p>
        {% endfor %}

    {% else %}
            <h2> Sorry, but there are no shows on {{selected_date}}</h2>
            {% if user.is_clubrepresentative or user.is_customer %}
            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#selectDateModal">
              Select Another Date
            </button>
            {% endif %}
    {% endif %}

{% endblock %}