<div class="modal fade" id="addClubRepModal" tabindex="-1" aria-labelledby="addClubRepModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="addClubRepModalLabel">Add Clubs and Reps</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label for="">Give Unique ID to the Rep</label>
                <input type="text" name="club.id" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Give Unique Password to the club</label>
                <input type="text" name="club.password" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Club Representative First Name</label>
                <input type="text" name="representative.first_name" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Club Representative Last Name</label>
                <input type="text" name="representative.last_name" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Date of Birth</label>
                <input type="date" name="representative.date_of_birth" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="">Club Name</label>
                <input type="text" name="club.name" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Street Number</label>
                <input type="text" name="club.street_num" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Street Name</label>
                <input type="text" name="club.street" class="form-control">
            </div>

            <div class="form-group">
                <label for="">City</label>
                <input type="text" name="club.city" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Post Code</label>
                <input type="text" name="club.postcode" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input type="email" name="user.email" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Mobile Number</label>
                <input type="tel" name="club.mobile_no" minlength="10" maxlength="10" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Landline Number</label>
                <input type="tel" name="club.landline_no" minlength="10" maxlength="10" class="form-control">
            </div>

            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save Changes</button>
        </div>
      </div>
    </div>
</div>    

<script>
    document.querySelector("#addClubRepModal button.btn-primary").addEventListener("click", function(event) {
        // Get the input fields
        
        var clubID = document.querySelector("#addClubRepModal input[name='club.id']");
        var clubPassword = document.querySelector("#addClubRepModal input[name='club.password']");
        var firstName = document.querySelector("#addClubRepModal input[name='representative.first_name']");
        var lastName = document.querySelector("#addClubRepModal input[name='representative.last_name']");
        var dateofbirth = document.querySelector("#addClubRepModal input[name='representative.date_of_birth']");
        var clubName = document.querySelector("#addClubRepModal input[name='club.name']");
        var streetNumber = document.querySelector("#addClubRepModal input[name='club.street_num']");
        var streetName = document.querySelector("#addClubRepModal input[name='club.street']");
        var cityName = document.querySelector("#addClubRepModal input[name='club.city']");
        var postCode = document.querySelector("#addClubRepModal input[name='club.postcode']");
        var clubEmail = document.querySelector("#addClubRepModal input[name='user.email']");
        var clubMobile = document.querySelector("#addClubRepModal input[name='club.mobile_no']");
        var clubLandline = document.querySelector("#addClubRepModal input[name='club.landline_no']");

        // Check if all fields are valid
        if (clubID.value.trim() == "") {
            alert("Please enter a valid ID.");
            event.preventDefault();
            return false;
        }
        if (clubPassword.value.trim() == "") {
            alert("Please enter a valid password.");
            event.preventDefault();
            return false;
        }
        if (firstName.value.trim() == "") {
            alert("Please enter a First Name.");
            event.preventDefault();
            return false;
        }
        if (lastName.value.trim() == "") {
            alert("Please enter a Last Name.");
            event.preventDefault();
            return false;
        }
        if (dateofbirth.value.trim() == "") {
            alert("Please enter a valid Date of Birth.");
            event.preventDefault();
            return false;
        }
        if (clubName.value.trim() == "") {
            alert("Please enter a valid Club Name.");
            event.preventDefault();
            return false;
        }
        if (streetNumber.value.trim() == "") {
            alert("Please enter a valid Street Number.");
            event.preventDefault();
            return false;
        }
        if (streetName.value.trim() == "") {
            alert("Please enter a valid Street Name.");
            event.preventDefault();
            return false;
        }
        if (cityName.value.trim() == "") {
            alert("Please enter a valid City Name.");
            event.preventDefault();
            return false;
        }
        if (postCode.value.trim() == "") {
            alert("Please enter a valid Post Code.");
            event.preventDefault();
            return false;
        }
        if (clubEmail.value.trim() == "") {
            alert("Please enter a valid Club Email.");
            event.preventDefault();
            return false;
        }
        if (clubMobile.value.trim() == "" || clubMobile.value.trim().length != 10) {
            alert("Please enter a valid Club Mobile Number.");
            event.preventDefault();
            return false;
        }
        if (clubLandline.value.trim() == "" || clubLandline.value.trim().length != 10) {
            alert("Please enter a valid Club Landline Number");
            event.preventDefault();
            return false;
        }

        // If all fields are valid, submit the form
        return true;
    });
</script>


            

              

       