<div class="modal fade" id="createViewingModal" tabindex="-1" aria-labelledby="createViewingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="createViewingModalLabel">Create Movie Viewing</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Error -->
        <div class="alert alert-danger d-none" role="alert" id="createViewingError">
          <ul id="createViewingErrorList">
          </ul>
        </div>

        <form>
          <div class="mb-3">
            <label for="movie" class="form-label">Movie</label>
            <select name="film" class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              {% for film in films %}
              <option value="{{ film.id }}">{{ film.title }}</option>
              {% endfor %}              
            </select>
          </div>
          <div class="mb-3">
            <label for="screen" class="form-label">Screen</label>
            <select name="screen" class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">Screen 1 (100 Seats)</option>
              <option value="2">Screen 2 (100 Seats)</option>
              <option value="3">Screen 3 (100 Seats)</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="film-date" class="form-label">Film Date</label>
            <input type="date" class="form-control" id="film-date" name="film_date">
          </div>
          <div class="mb-3">
            <label for="film-time" class="form-label">Film Time</label>
            <input type="time" class="form-control" id="film-time" name="film_time">
          </div>
          <div class="mb-3">
            <label for="ticket-quantity" class="form-label">Ticket Quantity</label>
            <input type="number" class="form-control" id="ticket-quantity" name="ticket_quantity">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create Viewing</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% block scripts %}
<script>
// Send API request to /api/v1/films
$('#createViewingModal form').submit(function(e) {
  e.preventDefault();

  const formData = new FormData(this);

  $.ajax({
    url: '/api/v1/viewing',
    type: 'POST',
    data: formData,
    success: function (data) {
      // Close modal
      $('#createViewingModal').modal('hide');

      location.reload();
    },
    error: function (data) {
      // Show error
      $('#createViewingError').removeClass('d-none');

      // Clear error list
      $('#createViewingErrorList').empty();

      // Loop through errors
      $.each(data.responseJSON.error, function (key, value) {
        // Append error to list
        $('#createViewingErrorList').append('<li>' + value + '</li>');
      });
    },
    cache: false,
    contentType: false,
    processData: false
  });
});

</script>
{% endblock %}